# Java & Build files
bin/
*.class
target/
*.jar

# Python cache & venv
__pycache__/
*.pyc
.pytest_cache/
venv/
.env

# IDE settings
.settings/
.project
.classpath
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db